*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}



@font-face {
    font-family: 'Renogare';
    src: url('Renogare-Regular.woff2') format('woff2'),
         url('Renogare-Regular.woff') format('woff'),
         url('Renogare-Regular.ttf')  format('truetype');
         /* src: url('webfont.eot'); /* IE9 Compat Modes */
         /* src: url('webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         /*      url('webfont.woff2') format('woff2'), /* Super Modern Browsers */
         /*      url('webfont.woff') format('woff'), /* Pretty Modern Browsers */
         /*      url('webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
         /*      url('webfont.svg#svgFontName') format('svg'); Legacy iOS */
    font-style: normal;
    font-weight: normal;
  }


html {
    height: 100%;
    overflow:auto;
}

body {
    background-color:#F6F3F2!important;
    height: 100%;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
}

.h1, h1{
    font-family: 'Renogare', sans-serif;
}
.h4, h4{
font-size: calc(1rem + .3vw);
}

@media (min-width: 1200px){
    .h2, h2 {
        font-size: 2.2rem;
    }
    
    .h4, h4{
        font-size: 1.2rem;
    }
}

.mt-n1 {
    margin-top: -0.25rem !important;
  }

/* --------------------------------------- COLORS ------------------------------------------------------- */
.bg-light-gray{
    background-color: #F0ECEA;
}

.bg-light-beige{
    background-color: #E3D2C1;
}

.bg-extra-light-blue{
    background-color: #E5E5E5;
}
/* 
------------------------------------ SPECIAL CONTAINERS & ELEMENTS in BREAKPOINTS----------------------------------------------- */
.sell-buy-box p{
    display: -webkit-box;
    -webkit-line-clamp: 7;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.sell-buy-box:hover{
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    -ms-transition: all .5s ease;
    transition: all .5s ease;
}

.sell-buy-box:hover .btn-arrow{
    background-color: #EF4823;
    border-color: #EF4823;
}


.sell-buy-box:hover .fa-arrow-right{
    color: #fff;
    transform: translateX(4px);
}


.sell-img, .buy-img{
    position: absolute;
    top:2rem;
    width: 50%;
    max-width: 550px;
}

.sell-img{
    right: 0;
}


@media (min-width: 576px){
    .container-middle {
        max-width: 420px;
    }

}

@media (min-width: 768px){
    .container-middle {
        max-width: 360px;
        height: 360px;
    }

    .buy-img{
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
        left: 0;
    }

}

@media (min-width: 992px){
    .container-middle {
        max-width: 480px;
    }

    .sell-img, .buy-img{
        top: inherit;
        bottom: 0;
        width:80%;
    }
}

@media (min-width: 1200px){
    .container-middle{
        max-width: 570px;
       
    }
}

@media (min-width: 1400px){
    .container-middle{
        max-width: 660px;
        
    }
}


/* ------------------------------------ BUTTONS ------------------------------------------------------ */

.btn{
    --bs-btn-padding-x: 2rem;
    --bs-btn-padding-y: .74rem;
    --bs-btn-border-radius: 2rem;
    --bs-btn-border-width: 2px;
    font-family: 'Renogare', sans-serif;
}


.btn-check:focus+.btn, .btn:focus {
    color: var(--bs-btn-hover-color);
    background-color: var(--bs-btn-hover-bg);
    border-color: var(--bs-btn-hover-border-color);
    outline: 0;
    box-shadow: var(--bs-btn-focus-box-shadow);
}

.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #EF4823;
    --bs-btn-border-color: #EF4823;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #d82f09;
    --bs-btn-hover-border-color: #d82f09;
    --bs-btn-focus-shadow-rgb: #e69f80;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #d82f09;
    --bs-btn-active-border-color: #d82f09;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #ef482397;
    --bs-btn-disabled-border-color: #EF4823;
}



.btn-outline-secondary {
    --bs-btn-color: #1E1712;
    --bs-btn-border-color: #1E1712;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #1E1712;
    --bs-btn-hover-border-color: #1E1712;
    --bs-btn-focus-shadow-rgb: 108,117,125;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #1E1712;
    --bs-btn-active-border-color: #1E1712;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #6c757d;
    --bs-btn-disabled-bg: transparent;
    --bs-gradient: none;
}

.btn-arrow{
    --bs-btn-padding-x: 1.2rem;
    --bs-btn-padding-y: .4rem;
    transition: .5s;
}

.btn-arrow:hover{
    background-color: #EF4823;
    border-color: #EF4823;
    transition: .5s;
}

.btn-arrow:hover > .fa-arrow-left{
    transform: translateX(-4px);
}

.btn-arrow:hover > .fa-arrow-right{
    transform: translateX(4px);
}

.btn-arrow:active{
    background-color: #db300a;
    border-color: #db300a;
}

.btn-arrow:focus{
    background-color: #db300a;
    border-color: #db300a;
    --bs-btn-focus-shadow-rgb: #db300a;
}

.carousel-btn{
    background-color: #876b59bf;
    border-color: transparent;
}

/* ------------------------------- FORM ------------------------------------------------- */

.form-control {
    padding: 0.7rem 1.2rem;
    font-size: .85rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #E5DCD8;
    background-clip: padding-box;
    border: 1px solid #E5DCD8;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.375rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.form-control:focus {
    color: #212529;
    background-color:#d8c9c3;
    border-color: #e69f80;
    outline: 0;
    box-shadow: 0 0 0 0.25rem #e69f8050;
}

/*_______________ CHECKBOX___________________________________ */

.control {
    font-family: arial;
    position: relative;
    padding-left: 38px;
    padding-top: 6px;
    cursor: pointer;
    font-size: 15px;
}
    .control input {
        position: absolute;
        z-index: -1;
        opacity: 0;
    }
.control_indicator {
    position: absolute;
    top: 2px;
    left: 0;
    height: 30px;
    width: 30px;
    background: #E5D7D0;
    border: 0px solid #000000;
    border-radius: 8px;
}
.control:hover input ~ .control_indicator,
.control input:focus ~ .control_indicator {
    background: #DBC4B8;
}

.control input:checked ~ .control_indicator {
    background: #ef4823;
}
.control:hover input:not([disabled]):checked ~ .control_indicator,
.control input:checked:focus ~ .control_indicator {
    background: #E02900;
}
.control input:disabled ~ .control_indicator {
    background: #ed47233b;
    opacity: 50;
    pointer-events: none;
    /* background: #f2ebe7;
    opacity: 35;
    pointer-events: none; */
}
.control_indicator:after {
    box-sizing: unset;
    content: '';
    position: absolute;
    display: none;
}
.control input:checked ~ .control_indicator:after {
    display: block;
}
.control-checkbox .control_indicator:after {
    left: 11px;
    top: 6px;
    width: 5px;
    height: 11px;
    border: solid #ffffff;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}
.control-checkbox input:disabled ~ .control_indicator:after {
    border-color: #ebe2e2;
}
.control-checkbox .control_indicator::before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 6.255rem;
    height: 6.255rem;
    margin-left: -1.286rem;
    margin-top: -1.3rem;
    background: #E02900;
    border-radius: 3rem;
    opacity: 0.6;
    z-index: 99999;
    transform: scale(0);
}
@keyframes s-ripple {
    0% {
        transform: scale(0);
    }
    20% {
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(1);
    }
}
@keyframes s-ripple-dup {
   0% {
       transform: scale(0);
    }
   30% {
        transform: scale(1);
    }
    60% {
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(1);
    }
}
.control-checkbox input + .control_indicator::before {
    animation: s-ripple 5ms ease-out;
}
.control-checkbox input:checked + .control_indicator::before {
    animation-name: s-ripple-dup;
}




/* --------------------------------- CARD --------------------------------------------------------- */

.card {
    --bs-card-spacer-y: 1.3rem;
    --bs-card-spacer-x: 1.3rem;
    --bs-card-title-spacer-y: 0.5rem;
    --bs-card-border-width: 0;
    --bs-card-border-color: var(--bs-border-color-translucent);
    --bs-card-border-radius: 1.3rem;
    --bs-card-box-shadow: ;
    box-shadow: 0 2px 8px 8px rgba(0, 0, 0, 0.03);
    --bs-card-inner-border-radius: calc(1.3rem - 1px);
    --bs-card-cap-padding-y: 0.5rem;
    --bs-card-cap-padding-x: 1rem;
    --bs-card-cap-bg: rgba(0, 0, 0, 0.03);
    --bs-card-cap-color: ;
    --bs-card-height: 100%;
    --bs-card-width:100%;
    --bs-card-color: ;
    --bs-card-bg: #fff;
    --bs-card-img-overlay-padding: 1rem;
    --bs-card-group-margin: 0.75rem;
    position: relative;
    min-width: 260px;
    transition: .5s;
}

.card:hover{
    transform: translate(0, -10px);
}

.category-item:hover > .category-icon{
    transform: scale(1.1);
}

.card figure{margin:0}
.card img.img-fluid{
    border-radius: 1.3rem 1.3rem 0 0;
    height: 230px;
    width: 100%;
    object-fit: cover;
}

.card h3, .card .h3{
    font-size: 1.2rem;
    font-weight: 500;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;  
    overflow: hidden;
}


.card .pins-group{
    left: .5em;
    top: .5em;
}

.card .pins-group svg{
    height: 13px;
    width: auto;
}


.card .btn-group-sm>.btn, .card .btn-sm {
    --bs-btn-padding-y: 0.25rem;
    --bs-btn-padding-x: 0.7rem;
    --bs-btn-font-size: 0.7rem;
    font-family:inherit;
    --bs-btn-border-radius: 1.5rem;
}

.card .btn-destacado-color{
    background-color: #FF1200;
    border-width: 1px;
    border-color: #FF1200;
    --bs-btn-focus-shadow-rgb: #c50d00;
}
.card .btn-destacado-color:hover{
    background-color: #e70f00;
}
.card .btn-en-vivo-color{
    background-color: #2D2D2D;
    border-width: 1px;
    border-color: #2D2D2D;
    --bs-btn-focus-shadow-rgb: #070707;
}
.card .btn-en-vivo-color:hover{
    background-color: #070707;
}

.date-countdown-group{
    font-size: .85em;
    display: flex;
    align-items: center;
}
.date-countdown-group img{
    height: 18px;
    width: auto;
    margin: 0 5px 2px 0;
}

.card-body a{
    font-family: 'Renogare', sans-serif;
    color: #070707;
    text-decoration: none;
}

.card-body a:hover{
    text-decoration: underline;
    text-underline-offset: 2px;
}
/* triggers of card*/
.card:hover > .card-body a{
    text-decoration: underline;
    text-underline-offset: 2px;
    
}

.card:hover .btn-arrow{
    background-color: #EF4823;
    border-color: #EF4823;
    color: white;
}

.card:hover i.fa{
    transform: translate(4px, 0);
}

/* 
-------------------------------------------- HEADER -------------------------------------------------------------- */
 
.header {
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    z-index: 999;
}


@media (min-width: 1200px){
    .header{
        height:90px ;
       
    }
}

.container-nav-bar{
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.hero{
    background-size: cover;
    background-position: center;
    height: 70vh;
    max-height:500px;
    min-height: 260px;
}

.no-hero{
    height:70px;
}

@media (min-width: 1200px){
    .no-hero{
        height:90px ;
       
    }
}



.hero > div{
    margin-top: 90px;
}

.hero-index{
    height: 95vh;
    max-height: inherit;
    min-height: inherit;
    background-image: url("../img/hero-xl-img.png");
}

.hero-index div{
    margin-top: 0;
}

.hero-quiero-comprar{
    background-image: url("../img/img-quiero-comprar.png");
}

.hero-consultar{
    background-image: url("../img/img-consultar.png");
}

.hero-quiero-vender{
    background-image: url("../img/img-quiero-vender.png");
}

@media only screen 
  and (orientation: landscape) {
    .hero > div{
        margin-top:70px;
    }
}



.navbar{
    --bs-navbar-brand-margin-end: 2rem!important;
}

.navbar-nav{
    width: 100%;
    --bs-navbar-color:#1E1712;
    --bs-navbar-hover-color: rgb(239, 72, 35);
    --bs-navbar-nav-link-padding-x: 1.3rem;
    --bs-nav-link-padding-y: 0.9rem!important;
}

.nav-link{
    font-family: 'Renogare', sans-serif;
    border-radius: .8rem;
    font-size: 15px;
    text-align: center;
}

.nav-link:hover {
    background-color: rgba(0, 0, 0, 0.03);
}

.navbar-nav button{
    background-color:#E5E5E5;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
}

.navbar-nav button:hover{
    background-color:#dddddd;
}
@media (min-width: 992px){
    .navbar-nav button{
        background-color: transparent;       
    }

    .navbar-nav button:hover{
        background-color: inherit;
    }
}

.navbar-nav .nav-link.active, .navbar-nav .show>.nav-link {
    color: var(--bs-navbar-active-color);
}

.navbar-nav button svg{
    height: 24px;
    width: 24px;
    margin-right: 8px;
    color: currentColor;
    
}


.breadcrumb-item+.breadcrumb-item::before {
    content: var(--bs-breadcrumb-divider, ">");
}

.breadcrumb .breadcrumb-item {
    font-size: .8rem;
    font-weight: 500;
}



footer h6{
    font-family: 'Renogare', sans-serif;
    font-size: 15px;
}

footer a:hover, .navbar-nav .nav-link.active, .navbar-nav .show>.nav-link{
    color: rgb(239, 72, 35)!important;
}

footer .text-reset {
    font-family: 'Renogare';
    font-size: 14px;
    text-decoration: none;
}

footer .copyright, footer .copyright .text-reset{
    font-size: 0.8rem;
}
/* 
-----------HOME - CATEGORIES ----------------- */
.category-item {
    text-decoration: none;
    color: #1E1712;
}

.category-item:hover{
    color: currentColor;
}

.category-item h3{
    font-family: 'Renogare', sans-serif;
    font-size: 1rem;
}
.category-icon{
    width: 124px;
    height: 124px;
    background-image: url("../img/ic-categories-bg.png");
    background-size: cover;
    transition: .5s;
}

.category-item:hover > .category-icon{
    transform: scale(1.1);
}

/* ------------------------- HOME EMPRESAS ------------------------- */

.grid-companies{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 1em;
    grid-auto-rows: 1fr;
}

@media (min-width: 768px){
    .grid-companies{
        grid-template-columns: repeat(4, 1fr);
    }
    
}

@media (min-width: 992px){
    .grid-companies{
        grid-template-columns: repeat(6, 1fr);
    }
    
}


.btn-company-logo{
    background-color: #E5E5E5;
    color: #1E1712;
    font-size: 1rem;
    border-radius: 16px;
    border: none;
}

.btn-company-logo:hover{
    background-color: #D9D9D9;
    color: currentColor;
}